{
  "presets": [
    ["env", {
      "targets": {
        "node": "4"
      }
    }]
  ],
  "env": {
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "node": "4"
          }
        }],
        "babili"
      ]
    }
  }
}
